body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
p {
    color: #696969;
}
a {
    background-image: linear-gradient(0deg, #6A5ACD, #9370DB);
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 25px;
    text-decoration: none;
}
#first-span {
    color: #FA8072;
}
#second-span {
    color: #4169E1;
}
h1 {
    font-size: 50px;
}
.flex-container {
    display: flex;
    margin-bottom: 200px;
}
.flex-container > div {
    padding: 0 25px 0 80px;
    width: 50%;
}
.flex-container img {
    display: block;
    width: 90%;
}